//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	@include adaptiveValue("font-size", 20, 18);
	line-height: 1;
	text-align: center;
	border-radius: rem(60);
	min-width: rem(200);
	border: 1px solid transparent;
	padding: rem(24) rem(45);
	@include adaptiveValue("gap", 32, 16);

	i {
		font-size: rem(14);
	}

	// .btn_bg-white
	&_bg-white {
		background-color: $White;
		color: $mainColor;

		@media (any-hover: hover) {
			transition: $transition ease background-color 0s;

			&:hover {
				background-color: #f2f0f0;
			}
		}
	}

	// .btn_bg-yellow
	&_bg-yellow {
		background-color: #eeff29;
		color: $mainColor;

		@media (any-hover: hover) {
			transition: $transition ease background-color 0s;

			&:hover {
				background-color: #ffea29;
			}
		}
	}
}
